<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Pay my Buddy!</title>
    <!--    Bootstrap ref   -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Le titre de ma page d'acceuil.</h1>
<h2>le sous titre de la page d'acceuil</h2>
<p>et blablabla</p>
<div>
    <a th:href="@{/showLoginPage}" class="btn btn-primary">Start</a>
</div>
</body>
</html>